asgiref==3.2.3
certifi==2019.11.28
chardet==3.0.4
confusable-homoglyphs==3.2.0
coverage==5.0.3
Django==3.0.3
django-bootstrap-toolkit==2.15.0
django-countries==5.5
django-crispy-forms==1.8.1
django-registration==3.0.1
django-registration-redux==2.7
idna==2.8
jason==0.1.7
Pillow==7.0.0
pytz==2019.3
requests==2.22.0
reverse==0.1.0
six==1.14.0
sqlparse==0.3.0
urllib3==1.25.7
