{% extends 'rango/base.html' %}
{% load static %}

{% block body_block %}

<h1>About Page</h1>
<p>This text is for a JQuery Example</p>

<div id="msg">Hello - I'm here for a JQuery Example too</div>
<div>
    <button class="btn btn-primary"
onClick="alert('You clicked the button using JavaScript.');"> Click Me - I run JavaScript
    </button> <br> <hr>
    <button class="btn btn-primary" id="about-btn"> Click Me - I'm JavaScript on Speed</button>
<p>This is a example</p> <p>This is another example</p> <br> <hr>

    <img src="{{ MEDIA_URL }}cat.jpg" alt="Picture of Cat" /> <!-- New line -->
{% endblock %}

